/* pages/css/webflow-health.module.css */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #222;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 1rem;
}

.link {
  display: inline-block;
  margin-top: 1rem;
  color: #007aff;
}